<!DOCTYPE html>
<html>

<head>
    <title>Change Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="navbar">

        <div class="logo">
            🚀 StockPilot
        </div>

        <div class="nav-right">
            <span> 👤{{  session["owner_name"] }}</span>
            <a href="/login">Logout</a>
        </div>

</div>

<div class="page">

    <a href="/settings" class="back-btn">← Settings</a>

    <h1>Change Password</h1>

    <p>Update your account password securely.</p>
    {% if error %}
    <div class="error-message">
        {{ error }}
    </div>
    {% endif %}

    {% if success %}
    <div class="success-message">
        {{ success }}
    </div>
    {% endif %}
    <form action="/change_password" method="POST" class="password-form">

        <input
            type="password"
            name="current_password"
            placeholder="Current Password"
            class="search-input"
            required
        >

        <input
            type="password"
            name="new_password"
            placeholder="New Password"
            class="search-input"
            required
        >

        <input
            type="password"
            name="confirm_password"
            placeholder="Confirm New Password"
            class="search-input"
            required
        >

        <br><br>

        <button type="submit" class="search-btn">
            Change Password
        </button>

    </form>

</div>

</body>
</html>