<!DOCTYPE html>
<html>

<head>
    <title>Search Product</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <a href="/dashboard" class="back-btn">← Dashboard</a>
    <div class="navbar">

        <div class="logo">
            🚀 StockPilot
        </div>

        <div class="nav-right">
            <span> 👤{{  session["owner_name"] }}</span>
            <a href="/">Logout</a>
        </div>

    </div>

    <div class="container">

        <h1>Stock In</h1>

        <p>Search a product and add stock to your inventory</p>

        <div class="search-card">

            <form method="POST">

                <input
                    type="text"
                    name="product_code"
                    placeholder="Enter Product Code"
                    class="search-input">

                <br><br>

                <button type="submit" class="search-btn">
                    Search
                </button>

            </form>
        </div>

        {% if product %}

        <br><br>

            {% if product %}

                <div class="search-card">

                    <h2>Product Details</h2>

                    <p><b>Product Code:</b> {{ product[1] }}</p>

                    <p><b>Product Name:</b> {{ product[2] }}</p>

                    <p><b>MRP:</b> ₹ {{ product[3] }}</p>

                    <p><b>Current Stock:</b> {{ product[4] }}</p>
                    <br>

                        <form method="POST">

                            <input
                                type="hidden"
                                name="product_code"
                                value="{{ product[1] }}">

                            <label><b>Quantity to Add</b></label>

                            <br><br>

                            <input
                                type="number"
                                name="quantity"
                                min="1"
                                required>

                            <br><br>

                            <button type="submit" name="action" value="add_stock">

                                Add Stock

                            </button>

                        </form>
                </div>

            {% endif %}
            
            {% if success %}

                <p class="success-message">
                     {{ success }}
                </p>

            {% endif %}
        {% endif %}
        
    </div>

</body>

</html>